{% extends 'base.html.twig' %}

{% block title %}Recettes{% endblock %}

{% block body %}
    <h1>Liste des recettes</h1>
    <ul>
        {% for recipe in recipes %}
            <li><a href="{{ path('recipe.show', {'slug': recipe.slug, 'id': recipe.id}) }}">{{ recipe.title }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
